.ezychat-chat-item--body-bottom-unread {
    margin-left: 3px;
}

.ezychat-chat-item--body-bottom-unread span {
    width: 18px;
    height: 18px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
    background: red;
}
